* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
}

.content {
    max-width: 90%;
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    margin-bottom: 20px;
}

.text-container {
    max-width: 800px;
    margin-bottom: 10px; /* vorher 20px, jetzt kleinerer Abstand */
    text-align: left;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 80px;
    margin-bottom: 20px;
}
th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #007bff;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
canvas {
    width: 100% !important;
    height: 100% !important;
    background-color: #f2f2f2;
}
button {
    padding: 8px 16px;
    font-size: 14px;
    margin-bottom: 20px;
}

.canvas-container {
    width: 50%; /* gleiche Breite wie Tabelle */
    height: 550px; /* mehr Höhe fürs Diagramm */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* etwas Abstand */
}
